.about-us {
  position: relative;
  min-height: 30vh;
  width: 100%;
  background-image: url('../images/webp/gallery/restaurant-room.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us p {
  padding: 1rem;
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}
.about-us .about-us-text {
  font-family: 'Sofia', system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0), rgba(0, 0, 0, .65), transparent);
  backdrop-filter: none;
  height: 100%;
  font-size: 2rem;
  border-radius: 0;
  margin: 0;
  text-shadow: 0 0 10px;
  padding: 4rem;
}

.contact-container {
  width: 75%;
  backdrop-filter: blur(12px);
  border-radius: 50px;
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
  row-gap: 5rem;
  margin-bottom: 1.75rem;
}
.contact-container h1 {
  font-size: 1.5em;
}
.contact-container h2 {
  font-size: 1.15em;
}
.contact-container h3 {
  font-size: .9em;
}
@media screen and (max-width: 650px) {
  .contact-container {
    flex-direction: column;
  }
}

.about-us-information {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}
.about-us-information p {
  backdrop-filter: brightness(60%);
  font-family: 'Oswald', system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  text-align: center;
}