.dishes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding: 0 1rem;
  margin-bottom: 5rem;
  animation: swipeUp 1.1s ease forwards;
  transform: translateY(30%);
}
@keyframes swipeUp {
  100% {
    transform: translateY(0);
  }
}
.dishes-grid article {
  position: relative;
  background-image: linear-gradient(to bottom right, rgb(215, 215, 215), rgb(245, 245, 245) 80%);
  background-color: grey;
  font-size: 1rem;
  border-radius: 35px;
  padding: 0 6.25vw 1rem 1.77vw;
  padding-top: max(6.25vw, 60px);
  max-width: 9.5rem;
  margin: 1rem 1rem 5rem 1rem;
  text-wrap: nowrap;
  cursor: pointer;
  transition: .35s;
}
@media screen and (max-width: 750px) {
  .dishes-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.dishes-grid article:hover {
  opacity: .75;
}
.dish-image-container {
  position: absolute;
  top: -25%;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}
.dish-image-container img {
  width: max(11vw, 115px);
  height: max(11vw, 115px);
  object-fit: cover;
}
.second-dish {
  transform: scale(.9);
}
.fourth-dish {
  left: 18%;
}
.dish-ingredients {
  font-size: .75rem;
  margin: -.5rem 0 1rem 0;
}
.dishes-grid article .dish-price {
  font-weight: 600;
}

.dish-grid-menu-button {dd
  position: absolute;
  top: calc(50% - 16px - .75rem);
  right: -5rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  padding: .75rem;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dishes-grid .view-rest {
  position: absolute;
  bottom: min(-7.5vw, -75px);
  background-image: none;
  padding: 1rem 3.5rem;
  background-color: orangered;
  color: white;
}