.dishes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding: 0 10rem;
  margin-bottom: 5rem;
  animation: swipeUp 1.1s ease forwards;
  transform: translateY(30%);
}
@keyframes swipeUp {
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1640px) {
  .dishes-grid {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 1400px) {
  .dishes-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    padding: 0 5rem;
  }
}
@media screen and (max-width: 565px) {
  .dishes-grid {
    font-size: 1.25rem;
    grid-template-columns: 1fr;
    padding: 0 2.5rem;
  }
}
.dishes-grid article {
  position: relative;
  background-image: linear-gradient(to bottom right, rgb(215, 215, 215), rgb(245, 245, 245) 80%);
  background-color: grey;
  border-radius: 35px;
  padding: 7.5rem 7.5rem 0 2rem;
  margin: 1rem;
  text-wrap: nowrap;
  cursor: pointer;
  transition: .35s;
}

.dishes-grid article:hover {
  background-image: none;
  background-color: rgb(255, 125, 125);
}
.dishes-grid article img {
  position: absolute;
  top: -32.5%;
  left: 10.5%;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}
.dishes-grid article .second-dish {
  transform: scale(.9);
}
.dishes-grid article .fourth-dish {
  left: 18%;
}
.dishes-grid article .dish-ingredients {
  font-size: .75rem;
  margin: -.5rem 0 3rem 0;
}
.dishes-grid article .dish-price {
  font-size: .9rem;
  font-weight: 600;
}
