.full-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
  display: none;
  transform: scale(0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: .15s;
}
.menu-display {
  display: flex !important;
}
.menu-active {
  transform: scale(1)
}
.close-menu-button {
  width: 75%;
  max-width: calc(600px + 3rem);
  font-size: 1.5rem;
  color: white;
  background-color: orangered;
  padding: .5rem 0;
  border: none;
  border-radius: 12px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: .25s;
}
.menu-container {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 75%;
  max-width: 600px;
  border-radius: 12px;
  background: rgba(249, 250, 255);
  padding: 1.5rem;
  overflow-y: hidden;
}
.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .25rem;
  margin-bottom: 1rem;
}
.categories-container button {
  font-size: 1.15rem;
  font-weight: 600;
  color: white;
  background-color: rgb(125, 0, 0);
  border: none;
  border-radius: 6px;
  padding: .5rem;
  outline: none;
  transition: .25s all, border 0s;
  cursor: pointer;
  user-select: none;
}
.categories-container button:focus,
.categories-container button:hover {
  color: rgb(125, 0, 0);
  background-color: white;
}
.categories-container button:focus {
  border: 2px solid rgb(125, 0, 0);
}
.types-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  width: 75%;
  margin: 0 auto;
  gap: 1px;
  margin-bottom: 1rem;
  transition: .25s;
}
.type {
  width: 100%;
  font-weight: 500;
  color: black;
  background-color: white;
  border: 1px solid black;
  margin: .1rem;
  text-align: center;
  text-wrap: nowrap;
  transition: .25s;
  cursor: pointer;
}

.type:hover {
  color: white;
  background-color: black;
}

.foods-container {
  flex: 1;
  overflow-y: scroll;
  transition: .25s;
}

.foods-container::-webkit-scrollbar {
  width: 12px;
}
.foods-container::-webkit-scrollbar-track {
  background: #f0e6d2;
  border-radius: 10px;
}
.foods-container::-webkit-scrollbar-thumb {
  background-color: #b5651d;
  border-radius: 10px;
  border: 3px solid #f0e6d2;
}
.foods-container::-webkit-scrollbar-thumb:hover {
  background-color: #874c12;
}
.foods-container {
  scrollbar-width: thin;
  scrollbar-color: #b5651d #f0e6d2;
}




.type-name {
  font-size: 3rem;
  color: rgb(17, 24, 39);
  font-weight: 600;
}

.dish-container {
  background-color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  border-radius: 12px;
  margin-bottom: .5rem;
}
.dish-container .dish-name {
  color: rgb(17, 24, 39);
  font-weight: 500;
  margin-bottom: .25rem;
}
.dishc-container .dish-count {
  color: black;
  font-size: .85rem;
  font-weight: 400;
  margin-bottom: .25rem;
}
.dish-container .dish-price {
  color: rgb(125, 115, 0);
  font-size: .93rem;
  font-weight: 700;
}