
.buttons {
  margin: -1.5rem 0 2rem 0;
  text-wrap: nowrap;
}

@media screen and (max-width: 400px) {
.buttons {
    text-align: center;
    display: grid;
  }
}
.buttons button,
.buttons a {
  min-width: 12.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: .25s;
  margin: .5rem;
}
.view-menu-button {
  position: relative;
  color: white;
  background-color: rgb(175, 0, 0);
  overflow: hidden;
}
.view-menu-button:hover {
  color: transparent;
}
.view-menu-button::before {
  content: 'View Full Menu';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-2.5rem);
  transition: .4s;
  color: black;
}
.view-menu-button:hover:before {
  transform: translateY(1rem);
}
.view-location-button {
  color: black;
  background-color: rgb(235, 235, 235);
}
.view-location-button:hover {
  color: white;
  background-color: rgb(25, 25, 25);
}

.customers {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.customer {
  width: 2.3rem;
  object-fit: contain;
  margin-left: -.5rem;
}
.rating {
  width: 5rem;
  object-fit: contain;
  margin: -.5rem 0 0 -.5rem;
}


@media screen and (max-width: 700px) {
  main {
    justify-content: center;
  }
  .hero-section h1 {
    text-align: center;
  }
  .food-display-section img {
    display: none;
  }
}